# ignore .log files
**/*.tlog
**/*.log

# ignore VS files
**/*.sdf
**/*.suo
**/*.opensdf
**/*.lastbuildstate

# Ignore .exe and .obj files (always needs compiling for the local machine state)
**/*.exe
**/*.obj