# ignore .log files
**/*.tlog
**/*.log

# ignore VS files
**/*.sdf
**/*.suo
**/*.opensdf
**/*.lastbuildstate
**/*.ilk
**/*.pdb
**/*.idb

# Ignore .exe and .obj files (always needs compiling for the local machine state)
**/*.exe
**/*.obj